@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CDB4F5;
    background-image: url(https://i.pinimg.com/originals/13/a1/22/13a122a75ae1ab3c918041e784aaa264.gif);
    background-repeat: no-repeat;
    background-size: cover ;
    ;
}

.fotoPerfil {
    border-radius: 150px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: "Gorditas", serif;
    font-size: 70px;
    font-style: normal;
    color: #2D2D2D;
    text-align: center ;
}

.box {
    max-width: 750px;
    border: 2px solid #2D2D2D;
    padding: 40px 30px;
    margin: auto;
    background: linear-gradient(100deg, #CDB4F5, #A5D9FF);
    border-radius: 25px;
    box-shadow: 8px 8px 0 #2D2D2D, 0 0 20px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    }

.box p {
    font-family: "Dosis", sans-serif;
    font-weight: 20px;
    font-style: bold;
    }

